

html {
  min-height: 100%;
  width: 100%;
}

body {
  text-align: center;
  position: relative;

}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

header {
    height: 100px;
    width: 100%;
    margin: auto;
    padding: 5px;
}

header a {
  text-decoration:  none;
  padding: 10px;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header ul a {
  text-decoration:  none;
}

header li {
    list-style:none;
    padding: 10px;
}

header .left {
  float: left;
  width: auto;
}

header .right {
  float: right;
  width: auto;
}

header ul:after {
    content: "";
    display: block;
    clear: both;
}

.form-control {
  margin: 15px;
}

.picturelist {
  background-color: #fff;
  text-align: center;
  margin : auto ;
  padding: 10px;
}

.picturelist th {
  border: solid 1px #D3D3D3;
  box-shadow:0px 0px 5px 3px rgba(0, 0, 0, 0.2) inset;
}

.profile {
  margin-left: 100px;
}

.profile_img {
  width: 30%;
  float: left;
}

.profile_txt {
  float: left;
}

.confirm-text {
  height: auto;
  width: auto;
  text-align: center;
  margin: auto;
}

.push {
  height: 100px;
}

.friends {
}

.friends li {
    font-size: small;
    text-align: left;
    list-style:none;
    padding: 10px;
}

.friends ul:after {
    clear: both;
}

footer {
  position: absolute;
  bottom: 0;
}


.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
